<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="bajs">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Hello<%- name  %>!</h1>
        <p>Volvo :)</p>
        <img src="volvo" alt="volvo">
        <form action="/" method="POST">
            <input type="text" name="name" placeholder="Namn">
            <input type="email" name="email" placeholder="example@email.com">
            <input type="number'" name="age" placeholder="17">
            <button type="submit">Okej</button>
        </form>
    </div>
</body>
</html>