<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/poo" method="POST">
            <input type="text" name="name" placeholder="Namn">
            <input type="message" size="50" name="message"><br>
            <button type="submit">Okej</button>
        </form>
    </div> 
    <div>
        <ul>
            <% for( let index = 0; index <  .length; index++ ) { %>
                <li>
                    <h1><%- posts[index].name %> </h1>
                    <p>
                        <%- posts[index].message %> 
                    </p>
                </li>
            <% } %>
        </ul>
    </div>
</body>
</html>