<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <div>
        <form action="/register" method="POST">
            <input type="text" name="uEmail" placeholder="example@gmail.com">
            <input type="text" name="uName" placeholder="Melker">
            <input type="password" name="uPassword" placeholder="lolololoolloollolololool"><br>
            <button type="submit">Okej</button>
        </form>
    </div> 
</body>
</html>